body {
  background-color: #F9F5ED;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

li {
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

li:hover {
  background-color: #F9F9F9;
}

li span {
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 8px;
  font-size: 14px;
  background-color: #FF5A5A;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FF3838;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
  position: relative;
 }
 
 .input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }

.input-container input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container .add-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container .add-button:hover {
  background-color: #45a049;
}
